.mdl-layout__header {
  background-color: var(--white);
}

.mdl-layout__header-row {
  margin-left: -48px;
}

.nav-link__logo {
  text-decoration: none;
  color: var(--grey);
  display: flex;
  align-items: flex-end;
}

.nav-link--active {
  font-weight: bold;
}

.mdl-layout__header .mdl-layout-title__image {
  width: 256px;
}

.mdl-layout__header .mdl-layout-title__text {
  margin-left: 4px;
  padding-bottom: 4px;
}

.mdl-layout .nav-item {
  color: unset;
  font-size: 16px;
  text-transform: uppercase;
}

.mdl-layout--large-screen-only .nav-item {
  line-height: 40px !important;
}

.mdl-layout--small-screen-only .nav-link__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
  padding-right: 16px;
  padding-left: 16px;
}

.mdl-layout--small-screen-only .mdl-layout-title__image {
  width: 100% !important;
  margin-bottom: 8px;
}

.mdl-layout--small-screen-only .nav-item {
  margin-left: -96px !important;
  margin-top: 12px !important;
  color: var(--black) !important;
}

.mdl-mini-footer {
  background-color: var(--white);
  box-shadow: 0 -2px 2px 0 rgba(0,0,0,.14), 
    0 -3px 1px -2px rgba(0,0,0,.2),
    0 -1px 5px 0 rgba(0,0,0,.12);
  color: var(--black);
}

.mdl-footer-logo {
  width: 312px;
}

.mdl-mini-footer__link-list a {
  font-size: 16px;
  text-transform: capitalize;
}