main {
  max-width: 768px;
  margin: 32px auto;
  padding: 0px 24px;
}

.header__image {
  width: 100%;
}

@media (max-width: 575.98px) {
  .header__image[src*="vertical"] {
    display: inline-block;
  }

  .header__image[src*="horizontal"] {
    display: none;
  }
}

@media (min-width: 576px) {
  .header__image[src*="vertical"] {
    display: none;
  }

  .header__image[src*="horizontal"] {
    display: inline-block;
  }
}

.header__title,
.header__message {
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header__title {
  margin-bottom: 0px;
}

.header__message {
  font-size: 16px;
}

.sign-in__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 256px;
  max-width: 768px;
  margin: 0px auto;
}

.sign-in__spinner {  
  position: absolute !important;
  top: calc((100% - 40px) / 2);
  bottom: calc((100% - 40px) / 2);
  left: calc((100% - 40px) / 2);
  right: calc((100% - 40px) / 2);
}

.element--hide {
  display: none !important;
}

.sign-in__wrapper {
  max-width: 512px;
  padding: 16px 0px;
}

.signed-in__bold-text {
  font-weight: bold;
}